<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Themes/css")
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css" rel="stylesheet">

</head>
<style>
    .body {
    }

    .search {
        width: 500px;
    }

    .btn-search {

    }

    .featuredbox {
        border: 2px solid blue;

    }
    .advertisement {
        border: 2px solid red;
    }
    .boxlatestbox {
        border: 2px solid red;
    }
    .gamehot {
        border: 2px solid red;
    }
    .giftcode {
        border: 2px solid red;
    }
</style>
<body>

    <div class="container d-flex flex-column gap-3">

        <!-- Header -->
        <div class="d-flex">
            <!-- Logo -->
            <div class="bg-black d-flex align-items-center justify-content-center" style="flex: 2;">
                <a href="#" class="navbar-brand text-white" style="font-size: 30px;"><img src="#" alt="Alternate Text" /></a>
            </div>

            <!-- Tìm kiếm -->
            <div class="bg-danger d-flex align-items-center justify-content-center" style="flex: 6;">
                <form action="/" method="post" class="d-flex w-100 m-3">
                    <input class="form-control rounded-start" type="text" name="name" placeholder="Nhập tên game..."
                           style="border-top-right-radius: 0; border-bottom-right-radius: 0;" />
                    <button type="submit" class="btn btn-dark rounded-end"
                            style="border-top-left-radius: 0; border-bottom-left-radius: 0;">
                        <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>

            <!-- Menu -->
            <div class="bg-light d-flex align-items-center" style="flex: 4;">
                <a href="#" class="flex-fill text-center">Hướng dẫn</a>
                <a href="#" class="flex-fill text-center">Video</a>
                <a href="#" class="flex-fill text-center">Đăng nhập</a>
            </div>
        </div>

        <!-- Thanh Nav -->
        <div class="d-flex text-center gap-1">
            <a href="#" class="flex-fill bg-danger">Danh mục</a>
            <a href="#" class="flex-fill bg-secondary">Game Hay</a>
            <a href="#" class="flex-fill bg-danger">a</a>
            <a href="#" class="flex-fill bg-danger">a</a>
            <a href="#" class="flex-fill bg-danger">a</a>
            <a href="#" class="flex-fill bg-danger">a</a>
            <a href="#" class="flex-fill bg-danger">a</a>
            <a href="#" class="flex-fill bg-danger">a</a>
            <a href="#" class="flex-fill bg-danger">a</a>
            <a href="#" class="flex-fill bg-danger">a</a>
            <a href="#" class="flex-fill bg-danger">a</a>
        </div>

        <div class="d-flex text-center gap-1">
            <a href="#" class="flex-fill bg-danger">Con gái</a>
            <a href="#" class="flex-fill bg-danger">Game Vui</a>
            <a href="#" class="flex-fill bg-danger">b</a>
            <a href="#" class="flex-fill bg-danger">b</a>
            <a href="#" class="flex-fill bg-danger">b</a>
            <a href="#" class="flex-fill bg-danger">b</a>
            <a href="#" class="flex-fill bg-danger">b</a>
            <a href="#" class="flex-fill bg-danger">b</a>
        </div>

        <!-- Phần chính -->
        <div class="d-flex gap-3">

            <!-- Cột trái 80% -->
            <div class="d-flex flex-column gap-3" style="flex: 8; background-color: lightblue;">

                <div class="featuredbox d-flex flex-column gap-2 p-2">
                    <div class="d-flex gap-2">
                        <a href="#" class="flex-fill bg-info">c</a>
                        <a href="#" class="flex-fill bg-info">c</a>
                    </div>
                    <div class="d-flex gap-2 flex-wrap">
                        <a href="#" class="flex-fill bg-info">c</a>
                        <a href="#" class="flex-fill bg-info">c</a>
                        <a href="#" class="flex-fill bg-info">c</a>
                        <a href="#" class="flex-fill bg-info">c</a>
                        <a href="#" class="flex-fill bg-info">c</a>
                        <a href="#" class="flex-fill bg-info">c</a>
                    </div>
                </div>

                <div class="advertisement p-2">
                    <div class="bg-success p-2">a</div>
                </div>          
                <div class="boxlatestbox">
                    <h2 class="col-4 bg-danger p-2" style="flex: 0 0 30%;">Game Mới</h2>
                    <div class="d-flex flex-wrap gap-3 p-2 text-center">
                        <div class="bg-success p-3" style="flex: 0 0 calc((100% - 4*16px)/5);">
                            <img src="#" alt="Alternate Text" class="mb-2" />
                            <p class="mt-auto text-center">Game 1</p>
                        </div>
                        <div class="bg-info p-3" style="flex: 0 0 calc((100% - 4*16px)/5);">
                            <img src="#" alt="Alternate Text" class="mb-2" />
                            <p class="mt-auto text-center">a</p>
                        </div>
                        <div class="bg-success p-3" style="flex: 0 0 calc((100% - 4*16px)/5);">
                            <img src="#" alt="Alternate Text" class="mb-2" />
                            <p class="mt-auto text-center">a</p>
                        </div>
                        <div class="bg-info p-3" style="flex: 0 0 calc((100% - 4*16px)/5);">
                            <img src="#" alt="Alternate Text" class="mb-2" />
                            <p class="mt-auto text-center">a</p>
                        </div>
                        <div class="bg-success p-3" style="flex: 0 0 calc((100% - 4*16px)/5);">
                            <img src="#" alt="Alternate Text" class="mb-2" />
                            <p class="mt-auto text-center">a</p>
                        </div>
                        <div class="bg-info p-3" style="flex: 0 0 calc((100% - 4*16px)/5);">
                            <img src="#" alt="Alternate Text" class="mb-2" />
                            <p class="mt-auto text-center">a</p>
                        </div>
                        <div class="bg-success p-3" style="flex: 0 0 calc((100% - 4*16px)/5);">
                            <img src="#" alt="Alternate Text" class="mb-2" />
                            <p class="mt-auto text-center">a</p>
                        </div>
                    </div>
                </div>

                <div class="advertisement p-2">
                    <div class="bg-success p-2">a</div>
                </div>

                <div class="gamehot">
                    <h2 class="col-4 bg-danger p-2" style="flex: 0 0 30%;">Game Hot</h2>
                    <div class="d-flex flex-wrap gap-3 p-2 text-center">
                        <div class="bg-success p-3" style="flex: 0 0 calc((100% - 4*16px)/5);">
                            <img src="#" alt="Alternate Text" />
                            <p>a</p>
                        </div>
                        <div class="bg-info p-3" style="flex: 0 0 calc((100% - 4*16px)/5);">
                            <img src="#" alt="Alternate Text" />
                            <p>a</p>
                        </div>
                        <div class="bg-success p-3" style="flex: 0 0 calc((100% - 4*16px)/5);">
                            <img src="#" alt="Alternate Text" />
                            <p>a</p>
                        </div>
                        <div class="bg-info p-3" style="flex: 0 0 calc((100% - 4*16px)/5);">
                            <img src="#" alt="Alternate Text" />
                            <p>a</p>
                        </div>
                        <div class="bg-success p-3" style="flex: 0 0 calc((100% - 4*16px)/5);">
                            <img src="#" alt="Alternate Text" />
                            <p>a</p>
                        </div>
                        <div class="bg-info p-3" style="flex: 0 0 calc((100% - 4*16px)/5);">
                            <img src="#" alt="Alternate Text" />
                            <p>a</p>
                        </div>
                        <div class="bg-success p-3" style="flex: 0 0 calc((100% - 4*16px)/5);">
                            <img src="#" alt="Alternate Text" />
                            <p>a</p>
                        </div>
                    </div>
                </div>

                <div class="giftcode">
                    <h2 class="col-4 bg-danger p-2" style="flex: 0 0 30%;">Giftcode</h2>
                    <div class="d-flex flex-wrap">
                        <div class="bg-danger d-flex" style="flex: 0 0 50%">
                            <img src="#" alt="Alternate Text" />
                            <p>ádasdasd</p>
                        </div>
                        <div class="bg-light d-flex" style="flex: 0 0 50%">
                            <img src="#" alt="Alternate Text" />
                            <p>ádasdasd</p>
                        </div>
                        <div class="bg-danger d-flex" style="flex: 0 0 50%">
                            <img src="#" alt="Alternate Text" />
                            <p>ádasdasd</p>
                        </div>
                        <div class="bg-light d-flex" style="flex: 0 0 50%">
                            <img src="#" alt="Alternate Text" />
                            <p>ádasdasd</p>
                        </div>
                    </div>
                   
                </div>
            </div>

            <div class="d-flex flex-column gap-3" style="flex: 2; background-color: lightcoral;">
                <div class="advertisement p-2">
                    <div class="bg-success p-2">
                        a
                    </div>
                </div>
            </div>

        </div>

    </div>


    <div class="container body-content">
        @RenderBody()

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
